
<div class="h-full w-full flex flex-col gap-3">
  <h3 class="text-center">{{pageHeader}}</h3>
  @if (!league) {
    <div class="self-center">
      <p-progress-spinner />
    </div>
  } @else {
    <div class="w-full flex flex-col lg:flex-row justify-center gap-8">
      <!-- <p-card [header]="weekTitle">
        <h4>{{seasonComplete ? 'Season Champ' : 'Reigning Champ'}} - Coming Soon!</h4>
      </p-card> -->
      <div class="h-[70vh] sm:h-full lg:flex-auto lg:max-w-1/2" [ngClass]="{'h-auto': league.status !== 'in_season'}">
        <p-panel [header]="graphHeader">
          <ui-graph [standingsData]="standingsData" />
        </p-panel>
      </div>
      <div class="w-full lg:w-96">
        <p-panel header="Weekly Transactions">
          <ui-weekly-transactions class="pt-3" [transactions]="transactions" [isLoading]="transactionsLoading" />
        </p-panel>
      </div>
    </div>
  }
</div>
