@if (isLoading ) {
  <div class="flex items-center justify-center">
    <p-progressSpinner />
  </div>
} @else {
  <p-scroll-panel styleClass="max-h-[85vh] lg:max-h-[65vh]">
    <div class="flex flex-col gap-1 pr-3">
      @if (!transactions.length) {
        <p>No transactions this week.</p>
      } @else {
        <div class="flex flex-col">
          @for (t of transactions; track $index) {
            @if (t.rosterMoves?.[0]?.type !== 'trade') {
              @for (m of t.rosterMoves; track $index) {
                <h5 class="pb-2">{{(t.type === 'free_agent' ? 'free agent' : t.type) | titlecase}}</h5>
                <div class="flex flex-col gap-3 text-xs">
                  <div class="flex items-center gap-2">
                    @if (m.manager?.avatarUrl) {
                      <img [src]="m.manager?.avatarUrl" alt="avatar" width="30" class="rounded-md" />
                    }
                    <p>{{m.manager?.display_name ?? 'manager missing'}}</p>
                  </div>
                  <div class="flex items-start justify-between">
                    @for (add of m.adds; track $index) {
                      <div class="flex items-center">
                        <i ngClass="fa-solid fa-plus add pr-2"></i>
                        <p>{{add?.full_name ?? add.player_id}}</p>
                      </div>
                      @if (m.waiverBid) {
                        <p>Bid: ${{m.waiverBid}}</p>
                      }
                    }

                    @for (drop of m.drops; track $index) {
                      <div class="flex items-center">
                        <i ngClass="fa-solid fa-minus drop pr-2"></i>
                        <p>{{drop?.full_name ?? drop.player_id}}</p>
                      </div>
                    }
                  </div>
                </div>
              }
            } @else {
              <h5 class="pb-2">Trade</h5>
              <div class="flex flex-col items-center gap-5 text-xs">
                @for (m of t.rosterMoves; let i = $index; track i) {
                  @if (i !== 0) {
                    <i class="fa-solid fa-rotate fa-xl self-center trade"></i>
                  }
                  <div class="flex items-center justify-between w-full" [ngClass]="{'items-start': m.adds.length > 1}">
                    <div class="flex items-center gap-2">
                      @if (m.manager?.avatarUrl) {
                        <img [src]="m.manager?.avatarUrl" alt="avatar" width="30" class="rounded-md" />
                      }
                      <p>{{m.manager?.display_name ?? 'manager missing'}}</p>
                    </div>
                    <div class="flex flex-col">
                      @for (add of m.adds; track $index) {
                        <div class="flex items-center">
                          <i ngClass="fa-solid fa-plus add pr-2"></i>
                          <p>{{add?.full_name ?? add.player_id}}</p>
                        </div>
                      }
                    </div>
                  </div>
                }
              </div>
            }
            <p-divider />
          }
        </div>
      }
    </div>
  </p-scroll-panel>
}